<html>
   <head>
      <title>JOSNP test</title>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
      <script type="text/javascript">
      $(function() {
          $.getJSON('http://127.0.0.1:8081/jsonp/helloword?jsonp=?', function(data) {
              $('#get-console').html(data['josnp-get']);
          });
          $.post("http://127.0.0.1:8081/jsonp/helloword?jsonp=?", function(data){
             $('#post-console').html(data['josnp-post']);
           }, 'json');
      });
      </script>
   </head>
   <body>
     <div>http GET: <span id="get-console"></span></div>
     <div>http POST: <span id="post-console"></span></div>
   </body>
 </html>